{% extends "initials/layout.html" %}
{% block content %}
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, rerum, tempore! Delectus cumque enim repellendus illum eius! Delectus consequuntur neque quia, provident iure nam porro, ut doloremque. Aspernatur laborum, et?
  </div>
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, rerum, tempore! Delectus cumque enim repellendus illum eius! Delectus consequuntur neque quia, provident iure nam porro, ut doloremque. Aspernatur laborum, et?
  </div>
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, rerum, tempore! Delectus cumque enim repellendus illum eius! Delectus consequuntur neque quia, provident iure nam porro, ut doloremque. Aspernatur laborum, et?
  </div>
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, rerum, tempore! Delectus cumque enim repellendus illum eius! Delectus consequuntur neque quia, provident iure nam porro, ut doloremque. Aspernatur laborum, et?
  </div>
{% endblock %}